<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		 id="mylyn.trello.repository"
         name="Trello Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">
         <connectorCore
            class="mylyn.trello.ui.TrelloRepositoryConnector"
            id="trello"
            name="TrelloRepositoryConnector"/>
   </extension>

</plugin>
