<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="trello.core.repository"
         name="Trello Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="trello.core.TrelloRepositoryConnector"
            id="trello.core.TrelloRepositoryConnector"
            name="Trello Repository Connector">
      </connectorCore>
   </extension>

</plugin>
